@import "/src/vars.scss";
.primary-button {
  background-color: $primary-bg;
  color: white;
  border: none;

  padding: 10px 25px;

  &:hover {
    cursor: pointer;
    background-color: $primary-bg-hover;
  }
  &:active {
    background-color: $primary-bg-active;
  }
}
