@import "/src/vars.scss";

.product {
  border: 2px solid $primary-bg;

  width: fit-content;
  height: 420px;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: 10px;
  justify-content: space-between;
  &__img {
    flex-grow: 1;
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  img {
    width: 300px;
  }
  &__info {
    border-top: 1px solid black;
  }
  h3,
  p {
    padding-left: 10px;
  }

  h3 {
    font-weight: bold;
    font-size: 1.7em;
  }
  &__price {
    font-weight: 600;
  }
}
